# Kafka Configuration
# The Kafka broker address(es) to connect to
KAFKA_BROKER=localhost:9092

# Signal Processor Topics
# Topic to consume raw signals from
SIGNAL_INPUT_TOPIC=raw-signals
# Topic to publish processed signals to
SIGNAL_OUTPUT_TOPIC=processed-signals
# Topic to publish failed storage signals to
SIGNAL_FAILED_TOPIC=storage-signals-failed

# Database Configuration
# PostgreSQL connection string for data persistence
DATABASE_URL=postgresql://user:password@localhost:5432/signal_db
DB_USER=user
DB_PASSWORD=pass
DB_HOST=localhost
DB_PORT=5434
DB_NAME=signal_stream_platform

# Application Ports
PORT=3000
API_GATEWAY_PORT=3001
ANALYTICS_SERVICE_PORT=3002
AUTH_SERVICE_PORT=3003

# API Gateway Configuration
API_GATEWAY_URL=http://localhost:3001

# Auth Service Configuration
JWT_SECRET=super-secret-key
